
.icon-align-justify:before { content: '\e800'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-facebook-official:before { content: '\f230'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */